<h1><%= @restaurant.name %></h1>

<div class="rest-fields">
  <ul class="rest-fields">
  	<h3><%= @restaurant.name %></h3>
  	<h3><%= @restaurant.address %></h3>
  	<h3><%= @restaurant.city %></h3>
  	<h3><%= @restaurant.state %></h3>
  	<h3><%= @restaurant.zip %></h3>
  	<h3><%= @restaurant.phone %></h3>
  </ul>
</div>
